:root {
  /* primary colour */
  --clr-primary-100: hsl(249, 99%, 64%);
  --clr-primary-200: hsl(278, 94%, 30%);
  --clr-primary-300: hsl(0, 100%, 66%);

  /* Neutral colour */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(270, 3%, 87%);
  --clr-neutral-300: hsl(279, 6%, 55%);
  --clr-neutral-400: hsl(278, 68%, 11%);
}
.third-section {
  width: 35%;
  text-align: center;
}
.second-button {
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  padding: 8px;
  background-color: var(--clr-neutral-400);
  color: white;
}
